{% extends 'base.html' %}
 
 
 
{% block title %} Flask CRUD {% endblock %}
 
 
 
{% block body %}
 
<div class="jumbotron p-3" style="background:rgb(196, 228, 245);">
    <div class="well text-center">
 
        <h1>CRUD</h1>
 
    </div>
 
 
</div>
 
 
{% endblock %}